<section>
  <h1 class="title display-large"> Mi perfil</h1>
  <article class="perfil-container">
    <article class="avatar">
      <figure>
        <img src="assets/Avatar.svg" width="40" height="40" alt="">
      </figure>
      <h2 class="display-large">Velba Ramirez</h2>
    </article>
    <form class="form-container">
      <mat-form-field appearance="fill">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" value="velba.ramirez@hotmail.com" required [disabled]="true">
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="changePassword()">Cambiar contraseña</button>
        <button mat-stroked-button color="primary" (click)="eliminarCuenta()">Eliminar cuenta</button>
      </div>
    </form>
  </article>
</section>
