<mat-dialog-content class="password-container">
  <div class="header-dialog">
    <h2>Cambiar contraseña</h2>
    <mat-icon type="button" class="material-icon" (click)="onCancel()">close</mat-icon>
  </div>


  <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm" class="form-container">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Contraseña actual</mat-label>
      <input matInput type="password" formControlName="currentlyPassword" name="currentlyPassword" required />
      @if (changePasswordForm.get('currentlyPassword')?.touched  && changePasswordForm.get('currentlyPassword')?.invalid){
        <mat-icon matSuffix matError>error</mat-icon>
      }
      @if(changePasswordForm.get('currentlyPassword')?.hasError('required')){
        <mat-error>Este campo es obligatorio</mat-error>
      }
      @if(changePasswordForm.get('currentlyPassword')?.hasError('minlength')){
        <mat-error>Debe tener mínimo 8 caracteres</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Contraseña nueva</mat-label>
      <input matInput  type="password" formControlName="newPassword" name="newPassword" required />
      @if (changePasswordForm.get('newPassword')?.touched  && changePasswordForm.get('newPassword')?.invalid){
        <mat-icon matSuffix matError>error</mat-icon>
      }
      @if(changePasswordForm.get('newPassword')?.hasError('required')){
        <mat-error>Este campo es obligatorio</mat-error>
      }
      @if(changePasswordForm.get('newPassword')?.hasError('minlength')){
        <mat-error>Debe tener mínimo 8 caracteres</mat-error>
      }
      @if(changePasswordForm.get('newPassword')?.hasError('pattern')){
        <mat-error>La contraseña debe tener mínimo 8 caracteres una mayúscula, minúscula, un símbolo y números</mat-error>
      }
      <mat-hint>La contraseña debe tener mínimo 8 caracteres una mayúscula, minúscula, un símbolo y números</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Confirmar contraseña</mat-label>
      <input matInput type="password" formControlName="confirmationPassword" name="confirmationPassword" required />
      @if (changePasswordForm.get('confirmationPassword')?.touched
        && changePasswordForm.get('confirmationPassword')?.invalid){
        <mat-icon matSuffix matError>error</mat-icon>
      }
      @if(changePasswordForm.get('confirmationPassword')?.hasError('required')){
        <mat-error>Este campo es obligatorio</mat-error>
      }
      @if(changePasswordForm.get('confirmationPassword')?.hasError('minlength')){
        <mat-error>Debe tener mínimo 8 caracteres</mat-error>
      }
      @if(changePasswordForm.get('confirmationPassword')?.hasError('PasswordNoMatch')){
        <mat-error>La contraseña no coincide</mat-error>
      }
      <mat-hint>La contraseña debe coincidir con el campo anterior</mat-hint>
    </mat-form-field>

    <div class="button-container">
      <button mat-stroked-button color="primary" (click)="onCancel()">
        Cancelar
      </button>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!changePasswordForm.valid"
      >
        Cambiar contraseña
      </button>
    </div>
  </form>
</mat-dialog-content>
