<div class="calendar-container">
    <h2>Febrero 2025</h2>
    <!-- <mat-grid-list cols="7" rowHeight="100px" class="calendar">
      <mat-grid-tile *ngFor="let day of calendarDays" class="day"
                     [ngClass]="{'has-events': day.events.length > 0}">
        <div class="day-content">
          <span class="date">{{ day.date }}</span>
          <ul *ngIf="day.events.length">
            <li *ngFor="let event of day.events">{{ event }}</li>
          </ul>
        </div>
      </mat-grid-tile>
    </mat-grid-list> -->
  </div>
  