<div class="spots-container">
  <h2>Espacios</h2>
  <mat-drawer-container class="drawer-container">
    <!-- Lista de espacios -->
    <mat-drawer mode="side" opened class="drawer">
      <h3>Lista de espacios</h3>
      <mat-list class="list">
        <mat-list-item
          *ngFor="let spot of spots"
          (click)="selectSpot(spot)"
          class="list-item__content"
          [ngClass]="{ 'selected': spot === selectedSpot }">
          <div>
            <strong class="spot-name" [ngClass]="{ 'selected': spot === selectedSpot }">{{ spot.name }}</strong><br>
            <small>Tipo: {{ spot.type }}, capacidad: {{ spot.capacity }}, tipo de luz: {{ spot.lightType }}</small>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-drawer>

    <mat-drawer-content>
      <div class="description">
        <h3>Descripción</h3>
        <p><strong>Tipo de espacio:</strong> {{ selectedSpot?.type }}</p>
        <p><strong>Capacidad:</strong> {{ selectedSpot?.capacity }}</p>
        <p><strong>Tipo de luz:</strong> {{ selectedSpot?.lightType }}</p>
        <p><strong>Tipo e aire:</strong> {{ selectedSpot?.airType }}</p>
        <p><strong>Número de plantas en este espacio:</strong> {{ selectedSpot?.plantCount }}</p>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="createSpot()">Crear espacio</button>
  </div>
</div>
