<!-- filepath: src/app/components/spots/spots.component.html -->
<div class="container">
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let spot of spots" (click)="selectSpot(spot)">
      <h3 matLine>{{ spot.name }}</h3>
      <p matLine>Tipo: {{ spot.type }}, capacidad: {{ spot.capacity }} m2, tipo de luz: {{ spot.lightType }}</p>
    </mat-list-item>
  </mat-list>
  <div class="details" *ngIf="selectedSpot">
    <mat-card>
      <mat-card-title>{{ selectedSpot.name }}</mat-card-title>
      <mat-card-content>
        <p>Tipo de espacio: {{ selectedSpot.type }}</p>
        <p>Capacidad: {{ selectedSpot.capacity }} m2</p>
        <p>Tipo de luz: {{ selectedSpot.lightType }}</p>
        <p>Tipo de aire: {{ selectedSpot.airType }}</p>
        <p>Número de plantas en este espacio: {{ selectedSpot.plantCount }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<button mat-raised-button color="primary" (click)="createSpot()">Crear espacio</button>
