.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
  background-color: var(--mat-sys-surface);
  padding: 16px;
  padding-top: 5%;
}

.active-link {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-primary-container);
}

.active-link mat-icon {
  color: var(--mat-sys-on-primary-container);
}

mat-nav-list a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
}
