.sidenav-container {
  height: 100%;
}

.sidenav {
  width: fit-content;
  background-color: var(--mat-sys-surface);
  padding: 2.75rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  .menu{
    margin-bottom:2.5rem;
  }
}

.active-link {
  background-color: var(--mat-sys-secondary-container);
  color: var(--mat-sys-on-primary-container);
}

.active-link mat-icon {
  color: var(--mat-sys-on-primary-container);
}

mat-nav-list a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: inherit;
  padding: 0;
}
