@use '_theme-colors' as my-theme;
@use '@angular/material' as mat;
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html {
  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette
    ),
    typography: Lato,
    density: 0,
  ));

  height: 100%;
  background-color: var(--mat-sys-surface-bright);
}

body { margin: 0; font-family: Lato, "Helvetica Neue", sans-serif; }
