@use '_theme-colors' as my-theme;
@use '@angular/material' as mat;
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html {
  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette
    ),
    typography: Lato,
    density: 0,
  ));

}

body { margin: 0; font-family: Lato, "Helvetica Neue", sans-serif; background-color: var(--mat-sys-surface);}


:root {
  @include mat.snack-bar-overrides((
    container-color: var(--mat-sys-primary-fixed-dim),
    supporting-text-color: var(--mat-sys-on-surface),
    button-color: var(--mat-sys-on-surface),
  ));
}

.mdc-list-item__content span{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mdc-list-item__content span .text{
  font: var(--mat-sys-label-medium);
}

.mat-mdc-list-base {
  display: flex !important;
  flex-direction: column !important;
  gap: 0.75rem !important;
}

.mat-mdc-list-item{
  width: 5rem !important;
}
